body {
  background-image: url(https://thumbs.gfycat.com/BelovedConsiderateCamel-size_restricted.gif);
  display: block;
  margin: 0 auto;
  background-size: cover;
}
h1 {
  color: #f5f5f5;
}

#startGame {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  border-color: #000000;
}

h1 {
  text-align: center;
  color: #f0f8ff;
}
